<ion-header>

  <ion-navbar>
    <ion-title>Product Filters</ion-title>
    <ion-buttons end>
      <button ion-button color="danger" (click)="closeModal()" icon-only>
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>

<ion-content>
  <ion-list *ngFor="let attribute of productAttributes">
    <ion-item-divider color="light"> {{ attribute.name | titlecase }} </ion-item-divider>
    <ion-item *ngFor="let term of attribute.product_attribute_terms">
      <ion-label>{{ term.name}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="filters[attribute.name][term.slug]"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-divider color="light"> Categories </ion-item-divider>
    <ion-item *ngFor="let cat of productCategories">
      <ion-label [innerHTML]="cat.name"></ion-label>
      <ion-checkbox color="dark" [(ngModel)]='category[cat.slug]'></ion-checkbox>
    </ion-item>
  </ion-list>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button ion-button block outline color="danger" (click)="clearFilters()">Clear</button>
      </ion-col>
      <ion-col>
        <button block ion-button (click)="applyFilters()" color="danger">Apply</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>