<ion-header hidden>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col col-6>
      <img src="./assets/images/logo.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form>
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="username" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="login()">Login</button>
          <button *ngIf="showFacebookLogin" ion-button class="submit-btn-fb" full (click)="loginWithFacebook()" icon-left>
            <ion-icon name="logo-facebook"></ion-icon>
            Login with Facebook</button>
          <ion-row>
            <ion-col col-6>
              <button ion-button class="register-btn" block clear (click)="retrievePassword()">Forgot Password?</button>
            </ion-col>
            <ion-col col-6>
              <button ion-button class="register-btn" block clear (click)="goToSignup()">Create New Account</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>





<!--<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card style="margin: 0px; border: none; width: 100%;">
    <img src="./assets/images/logo.png" style="width:70%; margin: auto; padding:20px;" />
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block color="danger" (click)="login()">Login</button>
  <button ion-button clear block color="danger" (click)="goToSignup()">No Account? Sign Up Here</button>

</ion-content>-->
