page-home{

    .cart-badge{
        margin-left: -15px !important;
        color: #fff !important;
        background-color: #9B0808 !important;
        padding: 8px 12px !important;
        border-radius: 15px !important;
    }

    ion-card {
        margin: 0 !important;
        width: 100% !important;
    }

    .pricetag{
        white-space:nowrap;
        position:relative;
        margin:0 5px 0 10px;
        display:inline-block;
        height:25px;
        border-radius: 0 5px 5px 0;
        padding: 0 25px 0 15px;
        background:#E8EDF0;
        border: 0 solid #C7D2D4;
        border-top-width:1px;
        border-bottom-width:1px;
        color:#999;
        line-height:23px;
    }
    .pricetag:after{
        position:absolute;
        right:0;
        margin:1px 7px;
        font-weight:bold;
        font-size:19px;
        content:"\00D7";
    }
    .pricetag:before{
        position:absolute;
        content:"\25CF";
        color:white;
        text-shadow: 0 0 1px #333;
        font-size:11px;
        line-height:0px;
        text-indent:12px;
        left:-15px;
        width: 1px;
        height:0px;
        border-right:14px solid #E8EDF0;
        border-top:  13px solid transparent;
        border-bottom:  13px solid transparent;
    }
}
