<ion-header #head>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openCart()">
        <ion-icon name="cart"></ion-icon>
      </button>
      <ion-badge class="cart-badge">{{ cart_count }}</ion-badge>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar color="danger">
    <ion-searchbar [showCancelButton]="shouldShowCancel" debounce="100" placeholder="Search a product" animated="true" [(ngModel)]="searchQuery"
      (search)="onSearch($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding hide-header [header]="head" overflow-scroll="true">
  <ion-card *ngIf="images.length > 0">
    <ion-slides loop="true" autoplay="3000" pager>
      <ion-slide *ngFor="let image of images">
        <img [src]="image" />
      </ion-slide>

    </ion-slides>
  </ion-card>

  <ion-list style="margin-bottom:0;">
    <ion-item-divider color="danger">Latest Products</ion-item-divider>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-slides slidesPerView=2 #productSlides>
        <ng-container *ngFor="let product of products; let i = index">
          <ion-slide>
            <ion-row>
              <ion-col>
                <ion-card no-padding (click)="openProductPage(product)">
                  <ion-chip item-right style="position: absolute; top: 5px; right:5px; font-size: 10px" *ngIf="product.on_sale && product.sale_price">
                    <ion-label color="danger" style="margin-right: 5px;">{{ (product.regular_price - product.sale_price) *100 / product.regular_price | number:'1.0-0'}}% OFF</ion-label>
                    <ion-icon name="pricetag" color="danger"></ion-icon>
                  </ion-chip>
                  <img [src]="product.images[0].src" />
                  <p style="text-align: left; margin: 5px;"> {{ product.name }} </p>
                  <ion-row>
                    <ion-col col-auto>
                      <div *ngIf="product.on_sale && product.sale_price" style="text-align: left;">
                        <p *ngIf="product.variations.length == 0"><span style="text-decoration: line-through">{{ currency_symbol }}{{ product.regular_price }}</span><span>&nbsp;{{ currency_symbol }}{{ product.sale_price }}</span></p>
                        <p *ngIf="product.variations.length > 0"><span [innerHTML]="product.price_html"></span></p>
                      </div>
                      <div *ngIf="!(product.on_sale && product.sale_price)" style="text-align: left;">
                        <p *ngIf="product.variations.length == 0"><span [innerHTML]="currency_symbol + ' ' +  product.price"></span></p>
                        <p *ngIf="product.variations.length > 0"><span [innerHTML]="product.price_html"></span></p>
                      </div>
                    </ion-col>
                    <ion-col>
                      <span *ngIf="product.average_rating >= 1">
                        <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                      </span>
                      <span *ngIf="product.average_rating >= 2">
                        <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                      </span>
                      <span *ngIf="product.average_rating >= 3">
                        <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                      </span>
                      <span *ngIf="product.average_rating >= 4">
                        <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                      </span>
                      <span *ngIf="product.average_rating >= 5">
                        <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-slide>
        </ng-container>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <img style="margin-top: 10px;" src="./assets/images/banner2.jpg" />

  <ion-list *ngIf="grid_layout == false">
    <ion-item *ngFor="let product of moreProducts" text-wrap (click)="openProductPage(product)">
      <ion-thumbnail item-left>
        <img [src]="product.images[0].src" />
      </ion-thumbnail>

      <h2> {{ product.name }} </h2>

      <p>
        <span [innerHTML]="product.short_description.substr(0, 50) + '...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </p>

      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-list style="margin-bottom:0;">
    <ion-item-divider color="danger">More Products</ion-item-divider>
  </ion-list>

  <ion-grid *ngIf="grid_layout == true">
    <ion-row>
      <ion-col col-6 *ngFor="let product of moreProducts" text-wrap>
        <ion-card no-padding (click)="openProductPage(product)">
          <!-- <button (click)="$event.stopPropagation(); downloadImages(product);" ion-button icon-only clear color="light" style="position: absolute; top: 0px; left: 0px; font-size: 15px" *ngIf="product.images.length > 0">
            <ion-icon name="cloud-download" color="danger"></ion-icon>
          </button> -->
          <ion-chip item-right style="position: absolute; top: 5px; right:5px; font-size: 10px" *ngIf="product.on_sale && product.sale_price">
            <ion-label color="danger" style="margin-right: 5px;">{{ (product.regular_price - product.sale_price) *100 / product.regular_price | number:'1.2-2'}}% OFF</ion-label>
            <ion-icon name="pricetag" color="danger"></ion-icon>
          </ion-chip>
          <img [src]="product.images[0].src" />
          <p style="text-align: left; margin: 5px;"> {{ product.name }} </p>
          <ion-row>
            <ion-col >
              <div *ngIf="product.on_sale && product.sale_price" style="text-align: left;">
                <p *ngIf="product.variations.length == 0"><span style="text-decoration: line-through">{{ currency_symbol }}{{ product.regular_price }}</span><span>&nbsp;{{ currency_symbol }}{{ product.sale_price }}</span></p>
                <p *ngIf="product.variations.length > 0"><span [innerHTML]="product.price_html"></span></p>
              </div>
              <div *ngIf="!(product.on_sale && product.sale_price)" style="text-align: left;">
                <p *ngIf="product.variations.length == 0"><span [innerHTML]="currency_symbol + ' ' +  product.price"></span></p>
                <p *ngIf="product.variations.length > 0"><span [innerHTML]="product.price_html"></span></p>
              </div>
            </ion-col>
            <ion-col col-auto>
               <span *ngIf="product.average_rating >= 1">
                        <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                      </span>
              <span *ngIf="product.average_rating >= 2">
                        <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                      </span>
              <span *ngIf="product.average_rating >= 3">
                        <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                      </span>
              <span *ngIf="product.average_rating >= 4">
                        <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                      </span>
              <span *ngIf="product.average_rating >= 5">
                        <ion-icon style="color: #d4af37" small name="star"></ion-icon>
                      </span>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>