<ion-header>

  <ion-navbar color="danger">
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
      <ion-item-divider color="light">Personal Details</ion-item-divider>
      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.billing.first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.billing.last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input readonly type="email" [(ngModel)]="newOrder.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input readonly type="text" [(ngModel)]="newOrder.username"></ion-input>
      </ion-item>

      <ion-item-divider color="light">Billing Details</ion-item-divider>

      <ion-item>
        <ion-label>Address Line 1</ion-label>
        <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.billing.address_1"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Address Line 2</ion-label>
        <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.billing.address_2"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select [(ngModel)]="newOrder.billing.country">
          <ion-option value="India" selected="true">India</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>State</ion-label>
        <ion-select [(ngModel)]="newOrder.billing.state">
          <ion-option value="New Delhi">New Delhi</ion-option>
          <ion-option value="Uttar Pradesh">Uttar Pradesh</ion-option>
          <ion-option value="Maharashtra">Maharashtra</ion-option>
          <ion-option value="Tamil Nadu">Tamil Nadu</ion-option>
          <ion-option value="Madhya Pradesh">Madhya Pradesh</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>City</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.billing.city"></ion-input>        
      </ion-item>

      <ion-item>
        <ion-label>Postal Code</ion-label>
        <ion-input type="number" clearInput [(ngModel)]="newOrder.billing.postcode"></ion-input>        
      </ion-item>

      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input type="tel" clearInput [(ngModel)]="newOrder.billing.phone"></ion-input>        
      </ion-item>

      <ion-item>
        <ion-label>Same Shipping Details</ion-label>
        <ion-checkbox (ionChange)="setBillingToShipping()"></ion-checkbox>
      </ion-item>

      <ion-item-divider color="light" *ngIf="!billing_shipping_same">Shipping Details</ion-item-divider>
      
      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.shipping.first_name"></ion-input>
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.shipping.last_name"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Address Line 1</ion-label>
        <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.shipping.address_1"></ion-textarea>
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Address Line 2</ion-label>
        <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.shipping.address_2"></ion-textarea>
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Country</ion-label>
        <ion-select [(ngModel)]="newOrder.shipping.country">
          <ion-option value="India" selected="true">India</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>State</ion-label>
        <ion-select [(ngModel)]="newOrder.shipping.state">
          <ion-option value="New Delhi">New Delhi</ion-option>
          <ion-option value="Uttar Pradesh">Uttar Pradesh</ion-option>
          <ion-option value="Maharashtra">Maharashtra</ion-option>
          <ion-option value="Tamil Nadu">Tamil Nadu</ion-option>
          <ion-option value="Madhya Pradesh">Madhya Pradesh</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>City</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.shipping.city"></ion-input>        
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Postal Code</ion-label>
        <ion-input type="number" clearInput [(ngModel)]="newOrder.shipping.postcode"></ion-input>        
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Phone</ion-label>
        <ion-input type="tel" clearInput [(ngModel)]="newOrder.shipping.phone"></ion-input>        
      </ion-item>

      <ion-item-divider color="light">Payment Details</ion-item-divider>

      <ion-item>
        <ion-label>Payment Method</ion-label>
        <ion-select [(ngModel)]="paymentMethod">
          <ion-option *ngFor="let p of paymentMethods" value="{{p.method_id}}">{{ p.method_title }}</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

</ion-content>

<ion-footer>
  <button ion-button block color="danger" (click)="placeOrder()">Place Order</button>
</ion-footer>
