<ion-header>

  <ion-navbar color="danger">
    <ion-title>Product Search: {{ this.searchQuery }}</ion-title>
  </ion-navbar>
  <ion-toolbar color="light">

    <ion-segment [(ngModel)]="icons" color="danger">
      <ion-segment-button block value="swap" (ionSelect)="showSortOptions()"> 
        <ion-icon name="funnel"></ion-icon> Sort
      </ion-segment-button>
      <ion-segment-button block value="filter" (ionSelect)="showFilterOptions()">
        <ion-icon name="options"></ion-icon> Filter
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of products" text-wrap  (click)="openProductPage(product)">
      <ion-thumbnail item-left>
        <img [src]="product.featured_src" />
      </ion-thumbnail>

      <h2> {{ product.name || product.title }} </h2>

      <p>
        <span [innerHTML]="product.short_description.substr(0, 50) + '...'"></span>
        <span [innerHTML]="product.price_html"></span>
        <span *ngIf="product.average_rating >= 1">
          <ion-icon style="color: #d4af37" small name="star"></ion-icon>
        </span>
        <span *ngIf="product.average_rating >= 2">
          <ion-icon style="color: #d4af37" small name="star"></ion-icon>
        </span>
        <span *ngIf="product.average_rating >= 3">
          <ion-icon style="color: #d4af37" small name="star"></ion-icon>
        </span>
        <span *ngIf="product.average_rating >= 4">
          <ion-icon style="color: #d4af37" small name="star"></ion-icon>
        </span>
        <span *ngIf="product.average_rating >= 5">
          <ion-icon style="color: #d4af37" small name="star"></ion-icon>
        </span>
      </p>

      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="hasMoreData" (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  
</ion-footer>