<ion-header #head>

  <ion-navbar color="danger">
    <ion-title> {{ product.name || product.title }} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content hide-header [header]="head">

  <ion-fab right top edge (click)="openCart()" *ngIf="direction == 'ltr'">
    <button ion-fab color="light"><ion-icon color="danger" name="cart"></ion-icon></button>
  </ion-fab>

  <ion-fab left top edge (click)="openCart()" *ngIf="direction == 'rtl'">
    <button ion-fab color="danger"><ion-icon name="cart"></ion-icon></button>
  </ion-fab>

  <ion-card>
    <ion-slides autoplay="3000" loop="true">
      <ion-slide *ngFor="let image of product.images" (click)="showPhoto(image.src)">
        <img [src]="image.src" />
      </ion-slide>
    </ion-slides>

    <ion-card-content>
      <ion-card-title>
        {{ product.title || product.name }} &nbsp;
        <ion-chip *ngFor="let cat of product.categories" style="margin-left: 5px;">
          <ion-label style="font-size: 10px;" color="danger" [innerHTML]="cat.name || cat"></ion-label>
        </ion-chip>
      </ion-card-title>

      <p [innerHTML]="product.description"></p>



    </ion-card-content>


  </ion-card>

  <ion-card *ngIf="product.variations.length > 0">
    <ion-item-divider color="light">Product Options</ion-item-divider>
    <ng-container *ngFor="let attribute of product.attributes">
      <ion-item *ngIf="attribute.variation">
        {{attribute.variation}}
        <ion-label> {{attribute.name | titlecase }} </ion-label>
        <ion-select [(ngModel)]="selectedOptions[attribute.name]" (ionChange)="check(attribute.name)">
          <ion-option *ngFor="let option of attribute.options" [value]="option"> {{ option }} </ion-option>
        </ion-select>

      </ion-item>
    </ng-container>
  </ion-card>

  <ion-card *ngIf="product.attributes.length > 0">
    <ion-item-divider color="light">Specifications</ion-item-divider>
    <ion-card-content>
      <ion-grid>
        <ng-container *ngFor="let att of product.attributes">
          <!--For Products opened from any page other than cart-->
          <ion-row *ngIf="!att.variation && att.options">
            <ion-col col-4>
              {{ att.name | titlecase}}
            </ion-col>
            <ion-col col-8>
              <span *ngFor="let option of att.options"> {{ option | titlecase}}</span>
            </ion-col>
          </ion-row>
          <!--For Variable products opened from Orders Page-->
          <ion-row *ngIf="!att.variation && att.option">
            <ion-col col-4>
              {{ att.name | titlecase}}
            </ion-col>
            <ion-col col-8>
              <span> {{ att.option | titlecase}}</span>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="reviews.length > 0">
    <ion-item-divider color="light">Product Reviews</ion-item-divider>
    <ion-card-content>


      <ion-grid>
        <ion-row *ngFor="let review of reviews">
          <ion-col col-4>
            <b>{{ review.reviewer_name }}</b><br/>
            <span *ngIf="review.rating >= 1">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 2">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 3">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 4">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>
            <span *ngIf="review.rating >= 5">
            <ion-icon style="color: #d4af37" small name="star"></ion-icon>
          </span>

          </ion-col>
          <ion-col col-8>
            {{ review.review }}
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button icon-left block outline color="danger" (click)="addToCart(product)">
      <ion-icon name="basket"></ion-icon> {{ requireOptions ? 'Select Product Options' : 'Add to Cart for ' + currency_symbol + ' ' + productPrice}}
    </button>
  </ion-toolbar>
</ion-footer>