<ion-header #head>

  <ion-navbar color="danger">
    <ion-buttons start>
      <button color="danger" ion-button icon menuToggle>
        <ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-title>Your Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content parallex-header no-padding hide-header [header]="head">
  <div class="header-image">
    <ion-card>
      <img class="card-background" src="./assets/images/rock.png" />
      <div class="card-title">{{ customer.first_name }} {{ customer.last_name }}</div>
      <div class="card-subtitle">{{ customer.orders_count }} Orders</div>
      <img class="avatar" [src]="customer.avatar_url" />
    </ion-card>
  </div>

  <div class="main-content" style="width: 100% !important;">
    <ion-item-divider color="light">
      Your Email: {{ customer.email }}
    </ion-item-divider>
    <ion-card>
      <ion-item style="background-color: #ddd;"> 
        <h2>Billing Details</h2> 
        <button ion-button icon-only clear item-right (click)="showEditModal()"> 
          <ion-icon name='create' color="danger" item-right>
          </ion-icon> 
        </button> 
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              Name:
            </ion-col>
            <ion-col col-6>
              {{customer.billing_address.first_name}} {{customer.billing_address.last_name}}
            </ion-col>
            <ion-col col-6>
              Address:
            </ion-col>
            <ion-col col-6>
              {{customer.billing_address.address_1}}, {{customer.billing_address.address_2}}
            </ion-col>
            <ion-col col-6>

            </ion-col>
            <ion-col col-6>
              {{customer.billing_address.city}}, {{customer.billing_address.state}}
            </ion-col>
            <ion-col col-6>

            </ion-col>
            <ion-col col-6>
              {{customer.billing_address.postcode}}. {{customer.billing_address.country}}
            </ion-col>
            <ion-col col-6>
              Phone:
            </ion-col>
            <ion-col col-6>
              {{customer.billing_address.phone }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item style="background-color: #ddd;"> 
        <h2>Shipping Details</h2> 
        <button ion-button icon-only clear item-right (click)="showEditModal()"> 
          <ion-icon name='create' color="danger" item-right>
          </ion-icon> 
        </button> 
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              Name:
            </ion-col>
            <ion-col col-6>
              {{customer.shipping_address.first_name}} {{customer.shipping_address.last_name}}
            </ion-col>
            <ion-col col-6>
              Address:
            </ion-col>
            <ion-col col-6>
              {{customer.shipping_address.address_1}}, {{customer.shipping_address.address_2}}
            </ion-col>
            <ion-col col-6>

            </ion-col>
            <ion-col col-6>
              {{customer.shipping_address.city}}, {{customer.shipping_address.state}}
            </ion-col>
            <ion-col col-6>

            </ion-col>
            <ion-col col-6>
              {{customer.shipping_address.postcode}}. {{customer.shipping_address.country}}
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>