page-order-placed {
.content {
    background: color($colors, light, base);
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .box {
      background: color($colors, light, base);
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         //border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: color($colors, danger, base);
       border-radius: 30px !important;
       //border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: color($colors, dark, base);
       font-size: 0.8em;
     }
  }
}
