<ion-header hidden>

  <ion-navbar>
    <ion-title>OrderPlaced</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col col-6>
      <img src="./assets/images/checkmark.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="box">
    <form>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <h1>Thank You</h1>
            <h6>Your order has been received.</h6>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list inset>
            Order Number: {{ orderNumber }}
          </ion-list>
        </ion-col>        
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="goToHomePage()">Continue Shopping</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>
